<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>오이마켓</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header>
    <div class="header">
      <a href="/loginindex" id="logo"><img src="../img/logo.png" alt=""><p>오이마켓</p></a>
      <ul>
        <li>
          <form action="/post/search/search">
            <input type="text" id="search_box" name="id" placeholder="물품을 검색해 보세요">
          </form>
        </li>
        <ul class="login_signup">
          <li><a href="/post/add">판매하기</a></li>|
          <li><a href="/post/mypost/<%= user._id %>">내 판매글</a></li>|
          <li><a href="/logout">로그아웃</a></li>
        </ul>
      </ul>
    </div>
  </header>

  <main>
    <div id="promotion_cover">
      <div id="promotion_area">
        <div id="promotion_textarea">
          <div id="promotion_title">믿을만한 <br>이웃 간 중고거래</div>
          <div id="promotion_desc"> 동네 주민들과 가깝고 따뜻한 거래를 <br>지금 경험해보세요.</div>
        </div>
        <div id="promotion_img"><img src="../img/trade.png" alt=""></div>
      </div>
    </div>
    <div id="recent_post">
      <p>중고거래 최신 매물</p>
      <div id="recent_post_grid">
        <% posts.forEach(post => { %>
          <a href="/post/<%= post._id %>" id="recent_post_link">
            <div class="grid_content">
              <div class="grid_content_image">
                <% if (post.category === "전자기기" ) { %>
                  <img src="/img/electronics.png" alt="" style="width: 250px; background-color: antiquewhite;">
                <% } %>
                <% if (post.category === "가구" ) { %>
                  <img src="/img/furniture.png" alt="" style="width: 250px; background-color: antiquewhite;">
                <% } %>
                <% if (post.category === "의류" ) { %>
                  <img src="/img/clothes.png" alt="" style="width: 250px; background-color: antiquewhite;">
                <% } %>
                <% if (post.category === "책" ) { %>
                  <img src="/img/book.png" alt="" style="width: 250px; background-color: antiquewhite;">
                <% } %>    

              </div>
              <div class="grid_content_info">
                <p class="recent_post_title"><%= post.title %></p>
                <p class="recent_post_price">가격 : <%= post.cost %></p>
                <p class="recent_post_place"><%= post.location %></p>
              </div>
            </div>
          </a>
        <% }) %>
      </div>
    </div>
  </main>
  <footer>
    <div id="footer">
      <p>서비스 이용약관 | 개인정보 처리방침 | 회사 안내</p>
      <p><b>고객센터</b> | 02-123-1234</p>
      <p><b>주식회사 오이마켓</b> | 부산광역시 남구 용소로 45</p>
      <p><b>사업자 등록번호</b> 123-00-12345</p><br>
      <b>제휴문의 | 광고문의 | PR문의 | IR문의</b>
    </div>
  </footer>
</body>
</html>