<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>판매글 페이지</title>
<link rel="stylesheet" href="/css/post.css">
</head>
<body>
    <header>
        <div class="header">
          <a href="/loginindex" id="logo"><img src="../img/logo.png" alt=""><p id="logo_text">오이마켓</p></a>
          <ul>
            <li>
              <form action="/post/search/search">
                <input type="text" id="search_box" name="id" placeholder="물품을 검색해 보세요">
              </form>
            </li>
            <ul class="login_signup">
              <li><a href="/post/add">판매하기</a></li>|
              <li><a href="/post/mypost/<%= user._id %>">내 판매글</a></li>|
              <li><a href="/logout">로그아웃</a></li>
            </ul>
          </ul>
        </div>
      </header>
<div class="post-container">
    <section class="post-image">
        <!-- 상품 이미지 -->
        <% if (post.category === "전자기기" ) { %>
          <img src="/img/electronics.png" alt="" style="width: 400px; background-color: antiquewhite;">
        <% } %>
        <% if (post.category === "가구" ) { %>
          <img src="/img/furniture.png" alt="" style="width: 400px; background-color: antiquewhite;">
        <% } %>
        <% if (post.category === "의류" ) { %>
          <img src="/img/clothes.png" alt="" style="width: 400px; background-color: antiquewhite;">
        <% } %>
        <% if (post.category === "책" ) { %>
          <img src="/img/book.png" alt="" style="width: 400px; background-color: antiquewhite;">
        <% } %>
    </section>
    
    <section class="post-author">
        <!-- 작성자 프로필 사진 및 정보 -->
        <img src="https://picsum.photos/id/237/50/50" alt="작성자 프로필" class="profile-img"/>
        <div class="author-info">
            <span class="author-name"><%= post.user %></span>
            <span class="transaction-area"><%= post.location %></span>
        </div>
    </section>
    
    <h1 class="post-title"><%= post.title %></h1>
    
    <section class="post-description">
        <p><%= post.description %></p>
        <p>가격: <%= post.cost %></p>
    </section>
    
    <!-- 생략 -->

    <section class="post-comments">
      <!-- 댓글 입력 섹션 -->
      <form action="/post/<%= post._id  %>" method="post">
      <div class="comment-input">
          <img src="https://picsum.photos/id/2/50/50" alt="프로필 이미지" class="profile-img"/>
          <input type="text" placeholder="댓글을 입력해주세요" class="comment-text" name="commentContent"/>
          <button type="submit" class="comment-button">작성하기</button>
      </div>
      </form>
      <!-- 댓글 목록 -->
      <div class="comments-list">
        <% comments.forEach(comment => { %>
            <div class="comment">
                <img src="https://picsum.photos/id/5/50/50" alt="이미지" class="comment-profile-img">
                <div class="comment-body">
                    <div class="comment-author"><%= comment.userID %></div>
                    <div class="comment-content"><%= comment.commentContent %></div>
                    <div class="comment-date"><%= comment.createdAt %></div>
                </div>
            </div>           
        <%}); %>
      </div>
  </section>
<!-- 생략 -->

    
    <!-- <section class="popular-items">
        인기 매물 상품 이미지들
        <img src="https://picsum.photos/id/22/100/100" alt="인기 매물1" class="item-img"/>
        <img src="https://picsum.photos/id/23/100/100" alt="인기 매물2" class="item-img"/>
        <img src="https://picsum.photos/id/24/100/100" alt="인기 매물3" class="item-img"/>
        
    </section> -->
</div>

<footer>
    <div id="footer">
      <p>서비스 이용약관 | 개인정보 처리방침 | 회사 안내</p>
      <p><b>고객센터</b> | 02-123-1234</p>
      <p><b>주식회사 오이마켓</b> | 부산광역시 남구 용소로 45</p>
      <p><b>사업자 등록번호</b> 123-00-12345</p><br>
      <b>제휴문의 | 광고문의 | PR문의 | IR문의</b>
    </div>
  </footer>
<!-- <script src="../assets/js/post.js"></script> -->
</body>
</html>